/*In Sass/SCSS I would have #182951 as a variable $sectionBG since it is used in multiple places */
body{
    /* Changed colors to match MotivAction branding colors */
    background-color: #fefefe;
}
.all {
    width: 98%;
    margin: 0 auto;
}
.candidates {
    background-color: #182951;
    padding:10px;
    margin:20px;
}

.vote, .results{
    background-color: #182951;
    padding:10px;
    color: white;
    margin:20px;
}

.addACandidate {
    margin: 20px;
    padding: 20px;
    background-color: #182951;
    width: 50%;
}
.results h3 {
    margin: 0;
    text-align: center;

}
h3 {
    color: #ffffff;

}

.results table {
    width: 30%;
}
.results td, .results th {
    width: 200px;
}

.candidates, .addACandidate {
    width: 49%;
    margin: 0 auto 0 10px;
    text-align: center;
    display: inline;
    float: left;
    height: 200px;
}
.vote {
    text-align: center;
    display: inline;
    float: left;
    width: 99%;
    margin: 20px 10px;
}

.deleteButton {
    text-align: center;
    display: inline;
    margin: 10px;

}
.voteButton {
    float: left;
    text-align: center;
    display: inline;
}
.voteButtonsHere {
    text-align: center;
    width: 70%;
    margin: auto;
}


.clearFix {
    clear: both;
}

.footerContainer {

    width: 98%;
    margin: 0 auto;
}
.footer{

    background-color: #182951;
    height: 100px;
    width: 97%;
    margin:0 0 0 25px;
    color: white;
    text-align: center;
    padding-top:10px;
}