<div class="all">
    <div class="candidates">
        <!-- List of Candidates -->
        <h3>Manage Candidates</h3>

        <!--TODO ADD List of Candidate and the ability to remove-->

        <div class="voteButtonsHere">
            <div ng-repeat="candidate in $ctrl.candidates">
                <!--One button foreach candidate-->
                <button type="button" class="deleteButton" ng-click="$ctrl.delete($index)" style="float:left;">
                    Delete <span class="text-info" ng-bind="candidate.name"></span>
                </button>

            </div>
            <div ng-repeat="candidate in $ctrl.candidates">
            </div>
        </div>


    </div>
    <div class="addACandidate">
        <!-- Candidate Form -->
        <h3>Add Candidate</h3>
        <div ng-form="$ctrl.form">
            <div>
                <input type="text" placeholder="Enter Candidate Name" ng-model="$ctrl.name"/>

                <button ng-click="$ctrl.addCandidate()"> Add </button>
                <!--TODO Implement a add candidate function-->


            </div>
        </div>
    </div>
</div>