<div>
    <div>
        <!--Election Results Table-->
        <tf-election-results
                candidates="$ctrl.candidates">
        </tf-election-results>
    </div>
    <div>
        <div>
            <!--Candidate Component-->
            <div>
                <tf-election-candidate
                        candidates="$ctrl.candidates">
                </tf-election-candidate>
            </div>

            <!--Vote Component-->
            <div>
                <tf-election-vote
                        candidates="$ctrl.candidates"
                        on-vote="$ctrl.onVote($candidate)">
                </tf-election-vote>
            </div>

        </div>
    </div>
</div>