<div class="all">
    <div class="vote">
        <h3>Cast Your Vote!</h3>

        <div class="voteButtonsHere">
        <span ng-repeat="candidate in $ctrl.candidates">
            <!--One button foreach candidate-->
            <button type="button" ng-click="$ctrl.castVote(candidate)">
                <span class="text-info voteButton" ng-bind="candidate.name"></span>
            </button>
        </span>
        </div>
    </div>
</div>