<div class="results">
    <h3>
        Live Results - Which candidate brings the most joy
    </h3>

    <table align="center">
        <thead>
        <tr>
            <th></th>
            <th>Candidate</th>
            <th>Votes</th>
            <th>% of total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="candidate in $ctrl.candidates | orderBy : '-votes'">
            <td>
                <span ng-bind="$index + 1"></span>
            </td>
            <td>
                <span ng-bind="candidate.name"></span>
            </td>
            <td>
                <span ng-bind="candidate.votes"></span>
            </td>
            <td>
                <span ng-bind="candidate.percent"></span>
            </td>

        </tr>
        </tbody>
    </table>
</div>